{% extends 'todo.html' %}
{% load widget_tweaks %}
{% block title %}SignUp{% endblock %}
{% block body %}
    <form method="post" class="container" style="max-width: 40rem;">{% csrf_token %}
        <div class="mb-3">
            <label class="form-label fs-4">{{ form.username.label }}</label>
            {% render_field form.username class="form-control fs-5" %}
        </div>
        {% if form.username.errors %}
            <div class="alert alert-warning">
                {{ form.username.errors }}
            </div>
        {% endif %}
        <div class="mb-3">
            <label class="form-label fs-4">{{ form.password.label }}</label>
            {% render_field form.password type="password" class="form-control fs-5" %}
        </div>
        {% if form.password.errors %}
            <div class="alert alert-warning">
                {{ form.password.errors }}
            </div>
        {% endif %}
        <div class="mb-3">
            <label class="form-label fs-4">{{ form.confirm_password.label }}</label>
            {% render_field form.confirm_password type="password" class="form-control fs-5" %}
        </div>
        {% if success %}
            <div class="alert alert-success">
                success
            </div>
        {% endif %}
        <button class="btn btn-dark" type="submit">SignUp</button>
    </form>
{% endblock %}